---
layout: default
title: News
---

<div class="home">

  <h1>Research Updates</h1>
  <hr>
  <p class="lead">This is a list of the most recent news about my research <br />
    (new working papers, new acceptances, etcetera).</p>
  <hr>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.categories contains 'news' %}
        <li>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></br >
          {{ post.excerpt }} 
          <small><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">Read more ... </a></small>
          </br >
        </li>
      {% endif %}  
    {% endfor %}
  </ul>
  <hr>
  <p class="rss-subscribe">Subscribe to <strong>News</strong> <a href="{{ "/news.xml" | prepend: site.baseurl }}">via RSS <i class="flaticon-rss8"></i></a></p>


</div>
