<div id="appointments-held" class="section level2">
<h2>Appointments Held</h2>
<p><strong>Federal Reserve Bank of Cleveland</strong></p>
<dl>
<dt>2015–Present</dt>
<dd>Senior Policy Economist.
</dd>
</dl>
<p><strong>Federal Reserve Bank of St. Louis</strong></p>
<dl>
<dt>2005–2015</dt>
<dd><p>Senior Economist.</p>
</dd>
<dt>2000–2005</dt>
<dd><p>Economist.</p>
</dd>
</dl>
<p><strong>Washington University in St. Louis</strong></p>
<dl>
<dt>2013 (summer)</dt>
<dd>Adjunct Lecturer. Olin Business School.
</dd>
</dl>
<p><strong>ITAM (Instituto Tecnológico Autónomo de México)</strong></p>
<dl>
<dt>2002 (spring)</dt>
<dd><p>Visiting assistant professor. CIE (Centro de Investigación Económica).</p>
</dd>
<dt>1994–1995</dt>
<dd><p>Research assistant. CAIE (Centro de Investigación y Análisis Económico).</p>
</dd>
<dt>1994</dt>
<dd><p>Instructor: Introductory Microeconomics.</p>
</dd>
<dt>1992-1994</dt>
<dd><p>Teaching assistant. Department of Economics.</p>
</dd>
</dl>
<p><strong>University of Rochester</strong></p>
<dl>
<dt>1999, 2000</dt>
<dd><p>Research assistant to professor Per Krusell.</p>
</dd>
<dt>1998, 1999</dt>
<dd><p>Instructor: Intermediate Microeconomics.</p>
</dd>
</dl>
</div>
