<dl>
<dt>2018</dt>
<dd>“A State Level Analysis of Okun’s Law.” Guisinger, Amy Y.; Rubén Hernández-Murillo; Michael T. Owyang; and Tara M. Sinclair. <em>Regional Science and Urban Economics</em>, January 2018, <em>68</em>. pp. 239–248. DOI:<a href="https://doi.org/10.1016/j.regsciurbeco.2017.11.005">10.1016/j.regsciurbeco.2017.11.005</a>. PDF available at: <a href="https://research.stlouisfed.org/wp/2015/2015-029.pdf" class="uri">https://research.stlouisfed.org/wp/2015/2015-029.pdf</a>.
</dd>
<dt>2017</dt>
<dd>“Clustered Housing Cycles.” Hernández-Murillo, Rubén; Michael T. Owyang; and Margarita Rubio. <em>Regional Science and Urban Economics</em>, September 2017, <em>66</em>. pp. 185–197. DOI:<a href="https://doi.org/10.1016/j.regsciurbeco.2017.06.003">10.1016/j.regsciurbeco.2017.06.003</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2013/2013-021.pdf" class="uri">http://research.stlouisfed.org/wp/2013/2013-021.pdf</a>.
</dd>
<dt>2015</dt>
<dd>“Did Affordable Housing Legislation Contribute to the Subprime Securities Boom?” Ghent, Andra C.; Rubén Hernández-Murillo; and Michael T. Owyang. <em>Real Estate Economics</em>, Winter 2015, <em>43</em>(4), pp. 820–854. DOI:<a href="https://doi.org/10.1111/1540-6229.12110">10.1111/1540-6229.12110</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2012/2012-005.pdf" class="uri">http://research.stlouisfed.org/wp/2012/2012-005.pdf</a>.
</dd>
<dt>2015</dt>
<dd>“Risk Aversion at the Country Level.” Gandelman, Néstor; and Rubén Hernández-Murillo. <em>Federal Reserve Bank of St. Louis Review</em>, First Quarter 2015, <em>97</em>(1), pp. 53–66. PDF available at: <a href="http://research.stlouisfed.org/publications/review/2015/q1/53-66GandelmanHernandez.pdf" class="uri">http://research.stlouisfed.org/publications/review/2015/q1/53-66GandelmanHernandez.pdf</a>.
</dd>
<dt>2014</dt>
<dd>“Differences in Subprime Loan Pricing Across Races and Neighborhoods.” Ghent, Andra C.; Rubén Hernández-Murillo; and Michael T. Owyang. <em>Regional Science and Urban Economics</em>, September 2014, <em>48</em>. pp. 199–215. DOI:<a href="https://doi.org/10.1016/j.regsciurbeco.2014.07.006">10.1016/j.regsciurbeco.2014.07.006</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2011/2011-033.pdf" class="uri">http://research.stlouisfed.org/wp/2011/2011-033.pdf</a>.
</dd>
<dt>2013</dt>
<dd>“What Do Happiness and Health Satisfaction Data Tell Us About Relative Risk Aversion?” Hernández-Murillo, Rubén; and Néstor Gandelman. <em>Journal of Economic Psychology</em>, December 2013, <em>39</em>. pp. 301–312. DOI:<a href="https://doi.org/10.1016/j.joep.2013.09.005">10.1016/j.joep.2013.09.005</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2011/2011-039.pdf" class="uri">http://research.stlouisfed.org/wp/2011/2011-039.pdf</a>.
</dd>
<dt>2011</dt>
<dd>“Regional Aggregation in Forecasting: An Application to the Federal Reserve’s Eighth District.” Engemann, Kristie M.; Rubén Hernández-Murillo; and Michael T. Owyang. <em>Federal Reserve Bank of St. Louis Review</em>, may/jun 2011, <em>93</em>(3), pp. 207–222. PDF available at: <a href="http://research.stlouisfed.org/publications/review/11/05/207-222Engemann.pdf" class="uri">http://research.stlouisfed.org/publications/review/11/05/207-222Engemann.pdf</a>.
</dd>
<dt>2011</dt>
<dd>“Patterns of Interstate Migration in the United States from the Survey of Income and Program Participation.” Hernández-Murillo, Rubén; Lesli S. Ott; Michael T. Owyang; and Denise Whalen. <em>Federal Reserve Bank of St. Louis Review</em>, may/jun 2011, <em>93</em>(3), pp. 169–186. PDF available at: <a href="http://research.stlouisfed.org/publications/review/11/05/169-186Hernandez.pdf" class="uri">http://research.stlouisfed.org/publications/review/11/05/169-186Hernandez.pdf</a>.
</dd>
<dt>2010</dt>
<dd>“Nonlinear Effects of School Quality on House Prices.” Chiodo, Abbigail; Rubén Hernández-Murillo; and Michael T. Owyang. <em>Federal Reserve Bank of St. Louis Review</em>, may/jun 2010, <em>92</em>(3), pp. 185–204. PDF available at: <a href="http://research.stlouisfed.org/publications/review/10/05/Chiodo.pdf" class="uri">http://research.stlouisfed.org/publications/review/10/05/Chiodo.pdf</a>.
</dd>
<dt>2010</dt>
<dd>“Strategic Online Banking Adoption.” Hernández-Murillo, Rubén; Gerard Llobet; and Roberto Fuentes. <em>Journal of Banking and Finance</em>, July 2010, <em>34</em>(7), pp. 1650–1663. DOI:<a href="https://doi.org/10.1016/j.jbankfin.2010.03.011">10.1016/j.jbankfin.2010.03.011</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2006/2006-058.pdf" class="uri">http://research.stlouisfed.org/wp/2006/2006-058.pdf</a>.
</dd>
<dt>2009</dt>
<dd>“Measuring the Information Content of the Beige Book: A Mixed Data Sampling Approach.” Armesto, Michelle T.; Rubén Hernández-Murillo; Michael T. Owyang; and Jeremy Piger. <em>Journal of Money, Credit and Banking</em>, February 2009, <em>41</em>(1), pp. 35–55. DOI:<a href="https://doi.org/10.1111/j.1538-4616.2008.00186.x">10.1111/j.1538-4616.2008.00186.x</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2007/2007-010.pdf" class="uri">http://research.stlouisfed.org/wp/2007/2007-010.pdf</a>.
</dd>
<dt>2007</dt>
<dd>“Experiments in Financial Liberalization: The Mexican Banking Sector.” Hernández-Murillo, Rubén. <em>Federal Reserve Bank of St. Louis Review</em>, sep/oct 2007, <em>89</em>(5), pp. 415–432. PDF available at: <a href="http://research.stlouisfed.org/publications/review/07/09/HernandezMurillo.pdf" class="uri">http://research.stlouisfed.org/publications/review/07/09/HernandezMurillo.pdf</a>.
</dd>
<dt>2006</dt>
<dd>“The Geography, Economics, and Politics of Lottery Adoption.” Coughlin, Cletus C.; Thomas A. Garrett; and Rubén Hernández-Murillo. <em>Federal Reserve Bank of St. Louis Review</em>, may/jun 2006, <em>88</em>(3), pp. 165–180. PDF available at: <a href="http://research.stlouisfed.org/publications/review/06/05/Coughin.pdf" class="uri">http://research.stlouisfed.org/publications/review/06/05/Coughin.pdf</a>.
</dd>
<dt>2006</dt>
<dd>“The Information Content of Regional Employment Data for Forecasting Aggregate Conditions.” Hernández-Murillo, Rubén; and Michael T. Owyang. <em>Economics Letters</em>, March 2006, <em>90</em>(3), pp. 335–339. DOI:<a href="https://doi.org/10.1016/j.econlet.2005.08.023">10.1016/j.econlet.2005.08.023</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2004/2004-005.pdf" class="uri">http://research.stlouisfed.org/wp/2004/2004-005.pdf</a>.
</dd>
<dt>2006</dt>
<dd>“Patent Licensing Revisited: Heterogeneous Firms and Product Differentiation.” Hernández-Murillo, Rubén; and Gerard Llobet. <em>International Journal of Industrial Organization</em>, January 2006, <em>24</em>(1), pp. 149–175. DOI:<a href="https://doi.org/10.1016/j.ijindorg.2005.03.008">10.1016/j.ijindorg.2005.03.008</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2002/2002-031.pdf" class="uri">http://research.stlouisfed.org/wp/2002/2002-031.pdf</a>.
</dd>
<dt>2005</dt>
<dd>“Does Consumer Sentiment Predict Regional Consumption?” Garrett, Thomas A.; Rubén Hernández-Murillo; and MichaelT. Owyang. <em>Federal Reserve Bank of St. Louis Review</em>, mar/apr 2005, <em>87</em>(2, Part 1), pp. 123–135. PDF available at: <a href="http://research.stlouisfed.org/publications/review/05/03/part1/GarrHernOwy.pdf" class="uri">http://research.stlouisfed.org/publications/review/05/03/part1/GarrHernOwy.pdf</a>.
</dd>
<dt>2005</dt>
<dd>“The Diffusion of Electronic Business in the United States.” Dinlersoz, Emin M.; and Rubén Hernández-Murillo. <em>Federal Reserve Bank of St. Louis Review</em>, jan/feb 2005, <em>87</em>(1), pp. 11–34. PDF available at: <a href="http://research.stlouisfed.org/publications/review/05/01/Dinlersoz.pdf" class="uri">http://research.stlouisfed.org/publications/review/05/01/Dinlersoz.pdf</a>.
</dd>
<dt>2004</dt>
<dd>“Racial Profiling or Racist Policing? Bounds Tests in Aggregate Data.” Hernández-Murillo, Rubén; and John Knowles. <em>International Economic Review</em>, August 2004, <em>45</em>(3), pp. 959–989. DOI:<a href="https://doi.org/10.1111/j.0020-6598.2004.00293.x">10.1111/j.0020-6598.2004.00293.x</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2004/2004-012.pdf" class="uri">http://research.stlouisfed.org/wp/2004/2004-012.pdf</a>.
</dd>
<dt>2004</dt>
<dd>“Tax Competition and Tax Harmonization with Evasion.” Gandelman, Néstor; and Rubén Hernández-Murillo. <em>Topics in Economic Analysis and Policy</em>, May 2004, <em>4</em>(1), DOI:<a href="https://doi.org/10.2202/1538-0653.1219">10.2202/1538-0653.1219</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2002/2002-015.pdf" class="uri">http://research.stlouisfed.org/wp/2002/2002-015.pdf</a>.
</dd>
<dt>2003</dt>
<dd>“Strategic Interaction in Tax Policies Among States.” Hernández-Murillo, Rubén. <em>Federal Reserve Bank of St. Louis Review</em>, may/jun 2003, <em>85</em>(3), pp. 47–56. PDF available at: <a href="http://research.stlouisfed.org/publications/review/03/05/Hernandez.pdf" class="uri">http://research.stlouisfed.org/publications/review/03/05/Hernandez.pdf</a>.
</dd>
</dl>
