  <div class="col-md-7">      
        <ul class="media-list">
          <li class="media">
            <abbr class="pull-left media-object" title="Mail"><i class="flaticon-email20"></i>
            </abbr>
            <!-- <a class="pull-left" href="#"><i class="flaticon-email20"></i></a>  •  -->

            <div class="media-body">
              Cleveland, Ohio<br/>
              United States of America
              </p>
            </div> 
          </li>
          <li class="media">
            <abbr class="pull-left" title="Email"><span class="flaticon-opened4"></span></abbr>
            ruben<span class="my-email-domain">rubenhm.org</span><br /> 
          </li>                
          <li class="media">
            <abbr class="pull-left" title="Websites"><span class="flaticon-world86"></span></abbr>
            <a href="/">rubenhm.org</a><br />
          </li>
          <li class="media">
            <abbr class="pull-left" title="Phone"><span class="flaticon-phone72"></span></abbr>             
            (314) 827-6381 (c)
          </li>
          <li class="media">
            <abbr class="pull-left" title="PDF"><span class="flaticon-adobe21"></span></abbr><a href="/assets/docs/Ruben_Hernandez-Murillo-cv.pdf">CV in PDF format with complete publications list.</a>
          </li>
          <li class="media">
            <abbr class="pull-left" title="Resume"><span class="flaticon-info12"></span></abbr>Résumé version: <a href="/resume/">HTML</a>, <a href="/assets/docs/Ruben_Hernandez-Murillo-Resume.pdf">PDF.</a>
          </li>
        </ul>
  </div>
