<section id="appointments-held" class="level2">
<h2>Appointments Held</h2>
<p><strong>KeyBank, N.A.</strong></p>
<dl>
<dt>2022-Present</dt>
<dd>Quant Analytics Sr Assoc.
</dd>
</dl>
<p><strong>Federal Reserve Bank of Cleveland</strong></p>
<dl>
<dt>2015–2022</dt>
<dd>Policy Economist.
</dd>
</dl>
<p><strong>Federal Reserve Bank of St. Louis</strong></p>
<dl>
<dt>2000–2015</dt>
<dd>Economist.
</dd>
</dl>
<p><strong>Washington University in St. Louis</strong></p>
<dl>
<dt>2013 (summer)</dt>
<dd>Adjunct Lecturer. Olin Business School.
</dd>
</dl>
<p><strong>ITAM (Instituto Tecnológico Autónomo de México)</strong></p>
<dl>
<dt>2002 (spring)</dt>
<dd>Visiting assistant professor. CIE (Centro de Investigación Económica).
</dd>
<dt>1994–1995</dt>
<dd>Research assistant. CAIE (Centro de Investigación y Análisis Económico).
</dd>
<dt>1994</dt>
<dd>Instructor: Introductory Microeconomics.
</dd>
<dt>1992-1994</dt>
<dd>Teaching assistant. Department of Economics.
</dd>
</dl>
<p><strong>University of Rochester</strong></p>
<dl>
<dt>1999, 2000</dt>
<dd>Research assistant to professor Per Krusell.
</dd>
<dt>1998, 1999</dt>
<dd>Instructor: Intermediate Microeconomics.
</dd>
</dl>
</section>
