<dl>
<dt>2022</dt>
<dd>“Age-Adjusted COVID-19 Mortality Rates by Demographic Groups.” Hernández-Murillo, Rubén. <em>Federal Reserve Bank of Cleveland District Data Brief</em>, March 2022, (2022-03-23), DOI:<a href="https://doi.org/10.26509/frbc-ddb-20220323">10.26509/frbc-ddb-20220323</a>.
</dd>
<dt>2020</dt>
<dd>“Assessing Layoffs in Four Midwestern States During the Pandemic Recession.” Hernández-Murillo, Rubén; and Pawel M. Krolikowski. <em>Federal Reserve Bank of Cleveland Economic Commentary</em>, August 2020, (2020-21), DOI:<a href="https://doi.org/10.26509/frbc-ec-202021">10.26509/frbc-ec-202021</a>.
</dd>
<dt>2019</dt>
<dd>“Interjurisdictional Competition with Adverse Selection.” Hernández-Murillo, Rubén. <em>Journal of Public Economics</em>, May 2019, <em>173</em>. pp. 85–95. DOI:<a href="https://doi.org/10.1016/j.jpubeco.2019.01.012">10.1016/j.jpubeco.2019.01.012</a>. PDF available at: <a href="https://doi.org/10.20955/wp.2012.052" class="uri">https://doi.org/10.20955/wp.2012.052</a>.
</dd>
<dt>2018</dt>
<dd>“A State Level Analysis of Okun’s Law.” Guisinger, Amy Y.; Rubén Hernández-Murillo; Michael T. Owyang; and Tara M. Sinclair. <em>Regional Science and Urban Economics</em>, January 2018, <em>68</em>. pp. 239–248. DOI:<a href="https://doi.org/10.1016/j.regsciurbeco.2017.11.005">10.1016/j.regsciurbeco.2017.11.005</a>. PDF available at: <a href="https://research.stlouisfed.org/wp/2015/2015-029.pdf" class="uri">https://research.stlouisfed.org/wp/2015/2015-029.pdf</a>.
</dd>
<dt>2017</dt>
<dd>“Clustered Housing Cycles.” Hernández-Murillo, Rubén; Michael T. Owyang; and Margarita Rubio. <em>Regional Science and Urban Economics</em>, September 2017, <em>66</em>. pp. 185–197. DOI:<a href="https://doi.org/10.1016/j.regsciurbeco.2017.06.003">10.1016/j.regsciurbeco.2017.06.003</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2013/2013-021.pdf" class="uri">http://research.stlouisfed.org/wp/2013/2013-021.pdf</a>.
</dd>
<dt>2015</dt>
<dd>“Risk Aversion at the Country Level.” Gandelman, Néstor; and Rubén Hernández-Murillo. <em>Federal Reserve Bank of St. Louis Review</em>, 2015, <em>97</em>(1), pp. 53–66. PDF available at: <a href="http://research.stlouisfed.org/publications/review/2015/q1/53-66GandelmanHernandez.pdf" class="uri">http://research.stlouisfed.org/publications/review/2015/q1/53-66GandelmanHernandez.pdf</a>.
</dd>
<dt>2010</dt>
<dd>“Strategic Online Banking Adoption.” Hernández-Murillo, Rubén; Gerard Llobet; and Roberto Fuentes. <em>Journal of Banking and Finance</em>, July 2010, <em>34</em>(7), pp. 1650–1663. DOI:<a href="https://doi.org/10.1016/j.jbankfin.2010.03.011">10.1016/j.jbankfin.2010.03.011</a>. PDF available at: <a href="http://research.stlouisfed.org/wp/2006/2006-058.pdf" class="uri">http://research.stlouisfed.org/wp/2006/2006-058.pdf</a>.
</dd>
</dl>
