---
layout: cv-resume
title: "Curriculum vitæ"
description: "Curriculum vitae"
---

<div class="row">
  <div class="col-md-1">  
  </div>
  <div class="col-md-10">
    <div id="rubén-hernández-murillo" class="section level1">
      <h1>Rubén Hernández-Murillo</h1>
    </div>
  </div>  
  <div class="col-md-1">    
  </div>
</div>    

<div class="row">
  <div class="col-md-1">    
  </div>
  <!-- Code for including a picture:-->
  <div class="col-md-2">
        <p>
        <img  src="/assets/img/rhm_chapala.jpg"  height="250px">
        </p>
  </div>
  <div class="col-md-1">   
  </div>
  
  
  <!-- Include _cv_contact.html-->
  {% include _cv_contact.html %}
  
  <div class="col-md-1">
  </div>
</div>   

<div class="row">
  <div class="col-md-1">    
  </div>

  <div class="col-md-10">

      <!--Sections menu -->
      <ul class="pagination">
            <li>
                <a href="#biography">Biography</a>
            </li>
            <li>
                <a href="#education">Education</a>
            </li>
            <li>
                <a href="#appointments-held">Appointments held</a>
            </li>
            <li>
                <a href="#recent-and-selected-publications">Recent and selected publications</a>
            </li>
      </ul>

      <article class="papers">

         <!--Include bio -->
	 {% include _cv_bio.html %}

         <!--Include education -->
	 {% include _cv_edu.html %}

         <!--Include appointments held -->
	 {% include _cv_appointments_held.html %}

	 <!--Selected publications -->
        <div id="recent-and-selected-publications" class="section level2 unnumbered">
          <h2>Recent and Selected Publications</h2>
          <p>For a complete list of publications, visit my publication pages:</p>
	 <!-- selected publications Menu -->
	  <ul class="pagination">
            <li>
              <a href="/pubs/journal_articles">Journal Articles</a>
            </li>
            <li>
              <a href="/pubs/fed_pubs/">Fed Publications</a>
            </li>
            <li>
              <a href="/pubs/commentary/">Commentary</a>
            </li>
            <li>
              <a href="/pubs/working_papers/">Working Papers</a>
            </li>
          </ul>
         <!--Include selected publications long -->
	 {% include _cv_select_pubs_long.html %}
        </div>

      </article>
      
  </div> <!-- of col-md-10 -->
  <div class="col-md-1">
  </div>
</div> <!-- of row -->

<div class="row">
  <a class="btn btn-default btn-xs  navbar-right" role="button" href="#" title="Top">Back to Top<span class="glyphicon glyphicon-arrow-up"></span></a>
</div>  


