---
---

            <dl><dt>{{ entry.year }}</dt>
                <dd><p class="text-left">{{ reference }}</p></dd>
            </dl>

<!-- The following content will be available for printing -->
<div class="row visible-print">
    {% if entry.abstract %} 
        <p>Abstract:</p>
        <p>{{ entry.abstract %}}</p>
    {% endif %}
        <p>BibTeX entry:</p>
        <pre>{{ entry.bibtex %}}</pre>
        <p>Links to file:</p>
        <ul >
            {% if entry.doi %}
            <li><a href="https://dx.doi.org/{{ entry.doi %}}" target="_blank">journal website (doi)</a></li>
            {% if entry.url %}
            <li><a href="{{ entry.url %}}" target="_blank">working paper (pdf)</a></li>
            {% endif %}
            {% else %}
            {% if entry.url %}
            <li><a href="{{ entry.url %}}" target="_blank">pdf version</a></li>
            {% endif %}
            {% endif %}
        </ul>
</div>
        
<!-- The following buttons will be hidden for printing -->
<div class="row "> 
    <div class="btn-toolbar hidden-print" role="toolbar">
        <div class="col-md-2"></div>
    <ul class="pagination">
        <li>
            {% if entry.abstract %} 
            <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Abstract
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" role="menu">
                        <li>
                            <blockquote class="pre-scrollable"><font size="-1">{{ entry.abstract %}}</font></blockquote>
                        </li>
                    </ul>
            </div>
            {% endif %}

        </li>
        <li>
            <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Bib Entry
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" role="menu">
                        <li>
                            <blockquote class="pre-scrollable"><font size="-1"><pre>{{ entry.bibtex %}}</pre></font></blockquote>
                        </li>
                    </ul>
            </div>
        </li>
        <li>
            <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Links to File
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" role="menu">
                        {% if entry.doi %}
                        <li><a href="https://dx.doi.org/{{ entry.doi %}}" target="_blank">journal website (doi)</a></li>
                        {% if entry.url %}
                        <li><a href="{{ entry.url %}}" target="_blank">working paper (pdf)</a></li>
                        {% endif %}
                        {% else %}
                        {% if entry.url %}
                        <li><a href="{{ entry.url %}}" target="_blank">pdf version</a></li>
                        {% endif %}
                        {% endif %}
                    </ul>
            </div>
        </li>
    </ul>
    </div>
</div>

