{% include _head_blog.html %}
{% include _header.html %}
<div class="container">
        <h1><em>{% if page.url contains 'blog' %}Coding Annoyances{% else %}Research Updates{% endif %}</em></h1>
        <hr>    
        <h1>{{ page.title }}</h1>
  
        <p class="small gray"><time datetime="{{ page.date | date:"%b %-d, %Y"}}">{{ page.date | date_to_long_string }} • {{site.author}} • {% if page.meta %} • {{ page.meta }}{% endif %}</time></p>
    <hr>
    <article class="post">
        {{ content }}

    </article>
    <hr>
    {% include _social_blog.html %}
    <h2>Comments section</h2>
    <div class="alert alert-info" role="alert"> 
        <p>This forum is intented for collegial discussion on economics and research tools. <br/>
            All comments will be moderated and will be approved before publication. Thanks for your understanding.</p>
    </div>
   
    <hr>
    {% include _disqus_load.html %}
</div>
{% include _disqus_js.html %}
{% include _footer_blog.html %}
